{% extends "base.html" %}

{% block content %}

<section class="article-list">
  <ul>
  {% for share in shares %}
    <li>
      <a href=/article/{{ share.article.id }}>
        <span class="username">Sent by {{ share.originator }} via {{ share.article.link }}</span>
        <span class="date">{{ share.created }}</span>
        <span class="title">{{ share.article.title }}</title>
        <span class="description">{{ share.article.excerpt|safe }}</title>
      </a>
    </li>
  {% endfor %}
  </ul>
</section>

{% endblock %}
